
<div ng-controller="RequestCtrl">

  <div>
    <h2>When ?</h2>
 
 <pre>{{when || 'null'}}</pre>

 <div class="btn-group">
        <label class="btn btn-success" ng-model="when" ng-click="later=false" btn-radio="'now'" uncheckable>Now</label>
        <label class="btn btn-success" ng-model="when" ng-click="later=true" btn-radio="'later'" uncheckable>Later</label>
        <label class="btn btn-success" ng-model="when" ng-click="later=false" btn-radio="'Right'" uncheckable>Right</label>
  </div>
 <div ng-show="later" class="ng-hide">
   <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
 </div>


  </div>

  <div>
    <h2>How ?</h2>

  </div>
 </div>
